*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(41, 41, 41);
    text-decoration: none;
    display: flex;
}
.underline{
    text-decoration: underline;
}

.test{
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    width: 350px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.nameTitle {
    text-align: center;
    font-size: 19px;
    margin: -10px;
}
.profilePicture{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.profilePicture img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.profileList{
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.headerTag{
    text-align: center;
    font-size: 17px;
    margin: 10px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    text-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.headerText{
    padding: 5px;
    padding-bottom: 7px;
}
.bio{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.biog{
    text-align: justify;
}
.id{
    margin: 0px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    text-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.id2{
    margin: 0px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    text-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.container{
    display: flex;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 450px;
}
.left-column{
    margin: 0px;
    height: 100%;
    border-radius: 10px;

}

a {
    color: rgb(34, 0, 255);
  }
  
  a:visited {
    color: rgb(0, 222, 33);
  }
  
  a:hover {
    color: rgb(34, 0, 255);
  }
  
  a:active {
    color: rgb(34, 0, 255);
}

.circle {
    display: inline-block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    } 
    .circle img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
    }

.test2{
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    width: 800px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.right-column{
    margin: 0px;
    height: 100%;
    border-radius: 10px;
}
.test3{
    margin: 5px 5px 0px 5px;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    text-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.regFormm{
    position: relative;
    margin: 10px 0px 0px 5px;
    height: 100%;
    border-radius: 10px;
}
.sbut{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}